DATABASE_URL="your_postgres_url_here"

BETTER_AUTH_SECRET=Better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=client-secret
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret